prism_data
prism_data_monthly
prism_tiles
temp_data
**/prism_data
**/prism_data_monthly
**/prism_tiles
**/temp_data
**/modis_downloads

output
uploads
misc
local_files
local_test
dist
build
runs
temp
temp_data

node_modules
client/node_modules
client/dist

test_images
test_data
geojson_sample_files
docs
*.ipynb
*.geojson

.git
.github
.idea
.DS_Store
*.log
.env.local
.env.jpl-production
.env.ose-production
client_secret*.json
google_drive*.txt
*_creds.txt
.temp_s3_credentials.json

tile_server/modis_downloads
